/node_modules
/public/hot
/public/images/
/public/card_numbers.txt
/public/robots.txt
/public/preOrder/image
/database/.DS_Store
/vendor
/.DS_Store
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.buildpath
.project
/database/seeds/AdminSeeder.php
/.settings
composer.lock
.env
/storage/debugbar
_ide_helper.php