@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html,body {
height:100%;
}

body {
text-shadow:0 .05rem .1rem rgba(0,0,0,.5);
font-family:'Muli',sans-serif!important;
}

.text-body {
color:#333;
}

.para {
margin-bottom:30px;
font-size:16px;
font-weight:300;
line-height:1.4;
}

.bottom-text {
color:#00008b;
font-style:italic;
}

@media (min-width: 768px) {
.heading {
font-size:30px;
}
}

@media (max-width: 450px) {
.heading {
font-size:20px;
}
}

.content-body {
margin:30px 10px;
text-align:center;
}

.btn-big-primary {
border:1px solid #007bff;
color:#fff;
background-color:#007bff;
display:inline-block;
font-size:1.6rem;
margin:0;
min-width:15rem;
outline:0;
overflow:visible;
line-height:1.4;
padding:.5em 2em;
border-radius:2px;
position:relative;
text-align:center;
transition:background-color .2s ease-out,border-color .2s ease-out,color .2s ease-out;
}

.btn-big-primary:hover {
color:#ffc107;
}

.btn-primary {
color:#fff!important;
background-color:#007bff!important;
background-image:none!important;
border:none!important;
text-align:center!important;
transition:all .5s!important;
cursor:pointer!important;
margin:5px!important;
}